@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    
    
    <title>Home</title>
</head>
<body>
   <div class="header"><img class="headimg" src="https://i.imgur.com/UHU2hB9.png" /></div> 
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #034f84;" >
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/W3wSxXQ.png" width="32" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" href="#">Storage</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Stations</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Power Levels</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Suppliers</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Power Plants</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Generators</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Distribution Centers</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Silos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Maintenance Roster</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("UserCRUD", "Eskom" )">User</a>
                        <a class="dropdown-item" href="@Url.Action("StationCRUD", "Eskom" )">Station</a>
                        <a class="dropdown-item" href="@Url.Action("SupplierCRUD", "Eskom" )">Supplier</a>
                        <a class="dropdown-item" href="@Url.Action("SiloCRUD", "Eskom" )">Silo</a>
                        <a class="dropdown-item" href="@Url.Action("DistributionCenterCRUD", "Eskom" )">Distribution Center</a>
                        <a class="dropdown-item" href="@Url.Action("PowerPlant", "Eskom" )">Powerplant</a>
                        <a class="dropdown-item" href="@Url.Action("GeneratorsCRUD", "Eskom" )">Generators</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
              
                <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <br />

    <div class="wrapper">
        <h1>Home</h1>
        
        <br />
        <div class="card-deck mx-auto " style="width:80%;">

            <div class="card  bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Storage</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%; background-color:#034f84;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br />
                    <p class="card-text">75% full</p>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Power Supply</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%; background-color:#034f84;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br />
                    <p class="card-text">50% Power supplied</p>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Active Power Stations</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 63%; background-color:#034f84;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br />
                    <p class="card-text">63% active</p> 
                </div> 
            </div>

        </div>

        <br />

   
        
        <div id="home" class="container">
            <table align="center">
               
                <tr>
                    <th>Area</th>
                    <th>Reason</th>
                    <th>Stage</th>
                    <th>Date</th>                    
                </tr>
                <tr>
                    <td>Acacia</td>
                    <td>Maintenance</td>
                    <td>3</td>
                    <td>2019/09/10</td>
                </tr>

                <tr>
                    <td>Ankerlig</td>
                    <td>Fuel Shortage</td>
                    <td>4</td>
                    <td>2019/09/15</td>
                </tr>

                <tr>
                    <td>Arnot</td>
                    <td>Generator down</td>
                    <td>4</td>
                    <td>2019/09/4</td>
                </tr>

            </table>
           

        </div>
    </div>
</body>
</html>
