
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="header"><img class="headimg" src="https://i.imgur.com/UHU2hB9.png" /></div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #034f84;">
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/W3wSxXQ.png" width="32" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" href="#">Storage</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Stations</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Power Levels</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Suppliers</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Power Plants</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Generators</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Distribution Centers</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Silos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Maintenance Roster</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("UserCRUD", "Eskom" )">User</a>
                        <a class="dropdown-item" href="@Url.Action("StationCRUD", "Eskom" )">Station</a>
                        <a class="dropdown-item" href="@Url.Action("SupplierCRUD", "Eskom" )">Supplier</a>
                        <a class="dropdown-item" href="@Url.Action("SiloCRUD", "Eskom" )">Silo</a>
                        <a class="dropdown-item" href="@Url.Action("DistributionCenterCRUD", "Eskom" )">Distribution Center</a>
                        <a class="dropdown-item" href="@Url.Action("PowerPlantCRUD", "Eskom" )">Powerplant</a>
                        <a class="dropdown-item" href="@Url.Action("GeneratorsCRUD", "Eskom" )">Generators</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">

                <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <form class="form-horizontal">
        <div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="txname">Username:</label>
                <input id="itemname" type="text" name="user" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="txname">Password:</label>
                <input id="itemname" type="text" name="pass" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-dark btn-lg">
                <i class="fa fa-check"></i> Sign Up
            </button>

            <button type="button" onclick="window.location.href='@Url.Action("HomePage", "Eskom")';" class="btn btn-dark btn-lg">
                <i class="fa fa-remove"></i>Cancel
            </button>
        </div>
        </form>
</body>
</html>
